

<%=render "navbar3"%>
<section class="main_container" >
    <div class="container">
        
        <div class="contA">
    	    <div class="contA1">
    	        <article class="contA11">
    	            <div class="headline">
                    	<!--<img src="/assets/p01.png">-->
                    	 <div class="photo" style="background-image: url(/assets/p01.png);"></div>
                		<div class="text1">
                			<h2 id="country_name">여기는<br>싱가포르<br>입니다.</h2>
                		</div>
                		<div class="headline_search">
                		    <form class="form-row" action="/posts/search" method="get">
                		         <div class="col-10">
                    			    <input name="q" class="form-control" type="search" placeholder="Search" aria-label="Search">
                    			 </div>
                			    <button class="btn btn btn-light my-2 my-sm-0" type="submit">검색</button>
                			   
                			 </form>
                		</div>
            	
            	    </div>
            	</article>
            
            	<article class="contA12">
            	<a href="#" class="boxA">
            	    
            	    <div class="photo" style="background-image: url(/assets/p02.png);"></div>
            		<div class="text">
            			<h2>자유게시판</h2>
            		</div>
            		
            	</a>
            	</article>
            </div>
            <div class="contA2">
            	<article class="contA21">
            	<a href="#" class="boxA">
            	    
            		<div class="photo" style="background-image: url(/assets/p03.png);"></div>
            		<div class="text">
            			<h2>벼룩시장</h2>
            		
            		</div>
            	</a>
            	</article>
            
            	<article class="contA22">
            	<a href="#" class="boxA">
            		<div class="photo" style="background-image: url(/assets/p04.png);"></div>
            		<div class="text">
            			<h2>쉐어하우스</h2></h2>
            			
            		</div>
            	</a>
            	</article>
            
            	<article class="contA23">
            	<div class="headline_board">
            	     
                  <!--실시간 인기글-->
                  <div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/821">
                                 검색어테스트
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/820">
                                 test 2
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/818">
                                 test
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/817">
                                 일반게시판 사진test
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/816">
                                 드디어 됬다 ㅠㅠㅠㅠㅠ test
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/814">
                                 test
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                  </div>
                    
            	</div>
            	</article>
            </div>

        </div>
        <div class="contB">
            <div class="contB1">
                
            </div>
            <div class="contB2"
            
            ></div>
            <div class="contB3">
                
            </div>
        </div>
        
        <div class="contC">
            <div class="contC1">
                <article class="contC11">
    	            <div class="headline_board">
            	     
                      <!--실시간 인기글-->
                      <div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/821">
                                     검색어테스트
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/820">
                                     test 2
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/818">
                                     test
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/817">
                                     일반게시판 사진test
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/816">
                                     드디어 됬다 ㅠㅠㅠㅠㅠ test
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/814">
                                     test
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                      </div>
                    
            	    </div>
            	</article>
            
            	<article class="contC12">
            	<a href="#" class="boxA">
            	    
            	    <div class="photo" style="background-image: url(/assets/p05.png);"></div>
            		<div class="text">
            			<h2>여행지 추천</h2>
            		</div>
            		
            	</a>
            	</article>
            	<article class="contC13">
            	<a href="#" class="boxA">
            	    
            	    <div class="photo" style="background-image: url(/assets/p02.png);"></div>
            		<div class="text">
            			<h2>자유게시판</h2>
            		</div>
            		
            	</a>
            	</article>
            </div>
            <div class="contC2">
                <article class="contC21">
            	<a href="#" class="boxA">
            	    
            		<div class="photo" style="background-image: url(/assets/p06.png);"></div>
            		<div class="text">
            			<h2>맛집 추천</h2>
            		
            		</div>
            	</a>
            	</article>
            
            	<article class="contC22">
            	<div class="headline_board">
            	     
                      <!--실시간 인기글-->
                      <div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/821">
                                     검색어테스트
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/820">
                                     test 2
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/818">
                                     test
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/817">
                                     일반게시판 사진test
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/816">
                                     드디어 됬다 ㅠㅠㅠㅠㅠ test
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                            <div class="postlistA_new">
                              <div class="postlistAtext">
                                 <a class="headline_board_content" href="/posts/show/814">
                                     test
                                     <span style="float:right;">
                                         3일 전
                                     </span>
                                 </a><br>
                              </div>
                            </div>
                      </div>
                    
            	    </div>
            	</article>
            
            	<article class="contC23">
            	<div class="headline_board">
            	     
                  <!--실시간 인기글-->
                  <div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/821">
                                 검색어테스트
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/820">
                                 test 2
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/818">
                                 test
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/817">
                                 일반게시판 사진test
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/816">
                                 드디어 됬다 ㅠㅠㅠㅠㅠ test
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                        <div class="postlistA_new">
                          <div class="postlistAtext">
                             <a class="headline_board_content" href="/posts/show/814">
                                 test
                                 <span style="float:right;">
                                     3일 전
                                 </span>
                             </a><br>
                          </div>
                        </div>
                  </div>
                    
            	</div>
            	</article>
            </div>
        </div>
        <div class="contD">
            
        </div>
        <div class="contE">
          
        </div>
    </div>
</section>
<%=render "footer"%>